<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/styles %>
        <title> Compete </title>
    </head>
    <body class="bg-dark-blue">
        <% include ../partials/navbar %> 
        
        <div class="card w-75 mx-auto mt-5 rounded-0">
            <div class="card-header">
                MULTIPLAYER
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button class="btn btn-success rounded-0" id="createGame"> CREATE GAME </button>
                <button class="btn btn-info rounded-0" id="joinGame"> JOIN GAME </button>
            </div>
            <div class="card-footer text-muted" id="lobby-size">
                <i id="playersCount">0</i> players searching
            </div>
            <i id="user" hidden> <%= name %> </i>
        </div>

        <% include ../partials/bootstrapjs %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
        <script src="/js/game/matchmaking.js"></script>
    </body>
</html>