<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/styles %>
    <meta charset="utf-8">
    <title> Game Screen </title>
  </head>
  <body>
    <% include ../partials/navbar %> 

    <% include ../partials/bootstrapjs %> 
   </body>
</html>