<!-- This is a total mess... -->

<!doctype html>
<html lang="en" style="height: 100%">
    <head>
        <% include ../partials/styles %>
        <title> Practice </title>
        <style type="text/css" media="screen">
            #editor {
                height: 1000px;
                width: 100%;
            }
        </style>
        <style>* {padding: 0; margin: 0}</style>
        <script src="./js/game/pixi.min.js"></script>
    </head>
    <body style="height: 100%" class="bg-dark-gray">
        <% include ../partials/navbar %> 

        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
              <button class="btn btn-success my-2 my-sm-0 rounded-0" type="submit"> 
                  <i class="fa fa-play"></i> RUN 
                </button>
              <button class="btn btn-info my-2 mx-2 my-sm-0 rounded-0" type="submit"> 
                  <i class="fa fa-save"></i> SAVE 
              </button>
            </form>
          </nav>

        <div id="code" class="col split split-horizontal" style="overflow-y: auto;">
            <div id="editor">console.log("Ace editor");</div>
        </div>

        <div id="display" class="col split split-horizontal" style="overflow-x: hidden;">
            Game view.
        </div>

        <!-- Editor script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/javascript");
            editor.setOption("showPrintMargin", false)
        </script>
        <!-- -->

        <!-- Main pixijs script -->
        <script type="text/javascript" src="./js/game/game-main.js"></script>

        <!-- For split view adjustment -->
        <script src="https://unpkg.com/split.js/split.min.js"></script>
        <script>
            Split(['#code', '#display'], {
                sizes: [45, 55],
                gutterSize: 8,
                cursor: 'col-resize'
            })
        </script>

        <% include ../partials/bootstrapjs %>
    </body>
</html>