<html>
    <head class="full-height">
        <title> Practice </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.css">
        <link rel='stylesheet' type="text/css" href='/css/monokai.css' />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.js"></script>
        <style>
            .CodeMirror{
                height: 100%;
            }
        </style>
        <% include ../partials/styles %>
    </head>
    <body class="full-height" style="overflow: hidden">

        <% include ../partials/navbar %>

        <div style="height: calc(100% - 107px);">

            <!-- Game view [First half]-->
            <div id="game-view" class="split split-vertical" style="overflow-y: hidden; background-color: #2a2a2a"> 
                <div id="display"></div>
            </div>

            <!-- Splitter -->
            <div class="gutter gutter-vertical"></div>
            
            <div class="full-width bg-secondary">
                <button class="btn btn-success btn-lg rounded-0" onclick="execute()"> 
                    <i class="fa fa-play"></i>     
                </button>

                <button class="btn btn-primary btn-lg rounded-0" onclick="save()"> 
                    <i class="fa fa-save"></i>   
                </button>

                <button class="btn btn-danger btn-lg rounded-0" onclick="stopGame()">
                    <i class="fa fa-stop"></i>   
                </button>

                <button class="btn btn-info btn-lg rounded-0" onclick="openConsole()">
                    <i class="fa fa-terminal"></i>   
                </button>
            </div>

            <!-- Code editor [Second half]-->
            <div id="code-view" class="split split-vertical">
                <div id="editor"> </div>
                <script src="./js/code_editor.js"></script>
            </div>  

        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js"></script>
        <script src="./js/splitter.js"></script>  
        <script src="./js/game/pixi.min.js"></script>
        <script src="./js/game/game-main.js"></script>

        <!-- Game logic -->
        <script>

            var consoleWindow;

            // Execute game loop.
            function execute(){

                printToConsole('Starting...');

                if(!app.ticker.started)
                    app.ticker.start();

                function gameLoop(delta){
                    eval(editor.getValue());
                }

                app.ticker.add(delta => gameLoop(delta));
            }

            // Save code.
            function save(){
                alert('SAVING');
            }

            // Stop game loop.
            function stopGame(){
                app.ticker.stop();
            }

            // Opens game output.
            function openConsole(){
                consoleWindow = window.open("", "", "width=500,height=500");
                consoleWindow.focus();
            }

            // prints text to open console window.
            function printToConsole(message){
                if(consoleWindow)
                    consoleWindow.document.write(message + '<br>');
            }

        </script>

        <% include ../partials/bootstrapjs %>
    </body>
</html>