<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/styles %>
        <title> Practice </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/theme/monokai.css"></script>
        <script src="./js/game/pixi.min.js"></script>
        <link rel="stylesheet" href="./css/jquery-ui.css"/>
        <script src="./js/jquery/jquery-ui.js"></script>

        <style>
            #resizable {    
                background-position: bottom center; 
                width: 100%; 
                min-height: 15%;
                position: fixed;
                bottom: 0; 
            }

            .CodeMirror {
                height: 300px;
            }

        </style>
    </head>
    <body class="bg-dark">
        <% include ../partials/navbar %> 

        <script>
            $( function() {
                $( "#resizable" ).resizable({
                    handles: 'n',
                    minHeight: 100,
                });
            } );
        </script>
    
        <div id="display" class="col" style="overflow-x: hidden;">
            Game view.
        </div>

        <div id="resizable" class="ui-state-active" style="border: 0">
            <div class="ui-widget-header">
                <button class="btn btn-success rounded-0 mx-4"> RUN </button>
                <button class="btn btn-primary rounded-0"> SAVE </button>
            </div>

            <div id="editor"> </div>
        </div>

        <script>

            let placeholder = "module.exports = function(){}";

            var editor = CodeMirror(document.getElementById('editor'), {
                lineNumbers: true,
                value: placeholder,
                mode: "javascript",
            });
        </script>

        <script type="text/javascript" src="./js/game/game-main.js"></script>
        <% include ../partials/bootstrapjs %>
    </body>
</html>