<html>
    <head class="full-height">
        <title> Main </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.js"></script>
        <style>
            .CodeMirror{
                height: 100%;
            }
        </style>
        <% include ../partials/styles %>
    </head>
    <body class="full-height">
        <div style="height: calc(100% - 50px);">

            <!-- Game view [First half]-->
            <div id="game-view" class="split split-vertical" style="overflow-y: hidden; background-color: #2a2a2a"> 
                <div id="display"></div>
            </div>

            <!-- Splitter -->
            <div class="gutter gutter-vertical"></div>
            
            <div class="full-width bg-secondary">
                <button class="btn btn-success btn-lg rounded-0"> RUN </button>
                <button class="btn btn-primary btn-lg rounded-0"> SAVE </button>
            </div>

            <!-- Code editor [Second half]-->
            <div id="code-view" class="split split-vertical">

                <div id="editor"> </div>

                <script>
                    var editor = CodeMirror(document.getElementById('editor'), {
                        lineNumbers: true,
                        value: "console.log('Editor');",
                        mode: "javascript",
                        lineWrapping: true
                    });
                </script>
            </div>  

        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js"></script>

        <script>

            var splitSizes = localStorage.getItem('split-sizes');
            splitSizes = (splitSizes) ? JSON.parse(splitSizes) : [50, 50];

            var split = Split(['#game-view', '#code-view'], {
                direction: 'vertical',
                sizes: splitSizes,
                gutterSize: 8,
                minSize: 0,
                onDragEnd: function(){
                    resizeSceneToFit(),
                    localStorage.setItem('split-sizes', JSON.stringify(split.getSizes()));
                },
            })

        </script>  

        <script src="./js/game/pixi.min.js"></script>
        <script src="./js/game/game-main.js"></script>

    </body>
</html>