<html>
    <head class="full-height">
        <title> Main </title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/codemirror.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/mode/javascript/javascript.js"></script>

        <style>
            .CodeMirror{
                height: 100%;
            }
        </style>
        <% include ../partials/styles %>
    </head>
    <body class="full-height">
        <div id="a" class="split split-horizontal" style="overflow-y: hidden">

            <!-- Game view -->
            <div id="e" class="split content bg-dark"> 
                Game 
            </div>

            <!-- Code editor -->
            <div class="full-width bg-secondary">
                <button class="btn btn-success btn-lg rounded-0"> RUN </button>
                <button class="btn btn-primary btn-lg rounded-0"> SAVE </button>
            </div>

            <div id="f" class="split content"> 
                <div id="editor"></div>

                <script>
                    var editor = CodeMirror(document.getElementById('editor'), {
                        lineNumbers: true,
                        value: "console.log('Editor');",
                        mode: "javascript",
                        lineWrapping: true
                    });
                </script>
            </div>
        </div>     

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js"></script>

        <script>
            Split(['#a'], {})
            Split(['#e', '#f'], {
                direction: 'vertical',
                sizes: [50, 50],
                gutterSize: 8,
                cursor: 'row-resize'
            })
        </script>  

    </body>
</html>