<!-- Font Awesome icons import -->
<style type="text/css">
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
</style>

<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark-blue">
    <a class="navbar-brand abs" href="/">
        <span class="fa fa-home"></span> LOGIC BOTS </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">

        <!-- If user is logged in, render this. -->
        <%if(typeof name != 'undefined'){%>
            <% if(name) { %>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="practice">
                            <span class="fa fa-code"></span> PRACTICE 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="compete">
                            <span class="fa fa-group"></span> COMPETE </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rankings">
                            <span class="fa fa-list-alt"></span> RANKINGS </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-lg rounded-0 dropdown-toggle my-1" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <%= "Welcome, " + name %>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/">
                                <span class="fa fa-home"></span> HOME </a>
                            <a class="dropdown-item" href="/dashboard">
                                <span class="fa fa-user"></span> MY PROFILE </a>
                            <a class="dropdown-item" href="/settings">
                                <span class="fa fa-cog"></span> SETTINGS </a>
                            <a class="dropdown-item" href="/robots">
                                <span class="fa fa-check"></span> ROBOTS</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">
                                <span class="fa fa-lock"></span> SIGN OUT</a>
                        </div>
                    </div>
                </ul>

                <!-- Otherwise -->
                <% }} else { %>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/login" class="btn btn-lg btn-outline-primary my-1 ml-2 rounded-0" type="submit">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register" class="btn btn-lg btn-outline-success my-1 ml-2 rounded-0" type="submit">Sign Up</a>
                        </li>
                    </ul>
                    <% } %>
    </div>
</nav>