<html>
    <head>
        <title> Main </title>
        <% include ./partials/styles %>
    </head>
    <body>
        <button type="submit" onclick="sendNotiification('Some text')">
            DEBUGGING
        </button>

        <% include ./partials/bootstrapjs %>
    </body>
</html>