<html>
    <head>
        <title> Main </title>
        <% include ./partials/bootstrapjs %>

        <% include ./partials/styles %>
    </head>
    <body>
        
    </body>

    <script>

    </script>
</html>