<!doctype html>
<html lang="en">
    <head>
        <title> Home </title>
        <script src="./js/bootstrap.js"></script>
    </head>
    <body class="bg-light">
        <% include partials/navbar %>

        <!-- Password recovery alert. -->
        <% if(typeof success != 'undefined'){
            console.log("Recovery has been successful!") %>
            <div class="alert alert-success" role="alert">
                <strong>Good job!</strong> Your password has been changed!
            </div>
        <% } %>
        <!-- *** -->

        <!-- Main -->
        <div class="jumbotron jumbotron-fluid text-light m-0" style="background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);">
                <div class="container">
                    <h1 class="display-4"> LOGIC BOTS </h1>
                    <p class="lead"> 
                        Multiplayer programming game
                    </p>
                    <a class="btn btn-outline-primary btn-lg rounded-0" href="/register"> 
                        PLAY NOW 
                    </a>
                </div>
            </div>
        </div>

        <% const cards = [{image: './img/computer.png',
                           header: 'Learn programming',
                           description: 'Some description. Game is not designed to teach programming from scratch. Anyway, it can help you sharpen your skills.'}, 
                          
                           {image: './img/rank.png',
                           header: 'Leaderboards',
                           description: 'Some description. Game is not designed to teach programming from scratch. Anyway, it can help you sharpen your skills.'}, 

                           {image: './img/time.png',
                           header: 'Real time multiplayer',
                           description: 'Some description. Game is not designed to teach programming from scratch. Anyway, it can help you sharpen your skills.'}]; %>   

        <!-- Description cards -->
        <div class="card rounded-0">
            <h5 class="card-header rounded-0" style="border-left: 0.5rem solid #1976d2"> 
                ABOUT LOGIC BOTS
            </h5>
            <div class="card-body">
                <div class="row">

                    <% for(let i = 0; i < cards.length; i++) { %>
                        <div class="col-sm-4">
                            <div class="card rounded-0">
                                <div class="card-body">
                                    <h4 style="display: inline-block">
                                        <img src="<%= cards[i].image %>" class="img-responsive" style="width: 20%; height: 20%"> <%= cards[i].header %>
                                    </h4>
                                    <p> <%= cards[i].description %> </p>
                                </div>
                            </div>
                        </div>
                    <% } %> 

                </div>
            </div>
        </div>
   </body>
</html>