<!doctype html>
<html lang="en">
    <head>
        <% include partials/styles %>
        <title> Home </title>
    </head>
    <body class="bg-light">

        <% include partials/navbar %>

        <!-- Password recovery alert. -->
        <% if(typeof success != 'undefined'){ %>
            <% console.log(success) %>
            <div class="alert alert-success" role="alert">
                <strong>Good job!</strong> Your password has been changed!
            </div>
        <% } %>
        <!-- *** -->

        <!-- Main -->
        <div class="jumbotron jumbotron-fluid ">
            <div class="container">
                <h1 class="display-4"> LOGIC BOTS </h1>
                <p class="lead"> </p>
                <button class="btn btn-primary btn-lg rounded-0"> PLAY NOW </button>
            </div>
        </div>

        <!-- Description cards -->
        <div class="card ">
            <h5 class="card-header" style="border-left: 0.5rem solid #1976d2"> 
                ABOUT LOGIC BOTS
            </h5>
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="card border-light">
                            <div class="card-body">
                                <h4 style="display: inline-block">
                                    <img src="./img/computer.png" class="img-responsive" style="width: 20%; height: 20%"> Learn programming
                                </h4>
                                <p>
                                    Some description. Game is not designed to teach programming from scratch. Anyway, it can help you sharpen your skills.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card border-light">
                            <div class="card-body">
                                <h4 style="display: inline-block">
                                    <img src="./img/rank.png" class="img-responsive" style="width: 30%; height: 30%"> Leaderboards
                                </h4>
                                <p>
                                    Some description. Game is not designed to teach programming from scratch. Anyway, it can help you sharpen your skills.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card border-light">
                            <div class="card-body">
                                <h4 style="display: inline-block">
                                    <img src="./img/time.png" class="img-responsive" style="width: 20%; height: 20%"> Real time multiplayer
                                </h4>
                                <p>
                                    Some description. Game is not designed to teach programming from scratch. Anyway, it can help you sharpen your skills.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
          </div>

        <% include partials/bootstrapjs %>
   </body>
</html>