<!doctype html>
<html lang="en">
    <head>
        <script src="../js/jquery.particleground.min.js"></script>
        <% include partials/styles %>
        <title> Home </title>
    </head>
    <body class="bg-light">

        <% include partials/navbar %>

        <!-- Password recovery alert. -->
        <% if(typeof success != 'undefined'){
            console.log("Recovery has been successful!") %>
            <div class="alert alert-success" role="alert">
                <strong>Good job!</strong> Your password has been changed!
            </div>
        <% } %>
        <!-- *** -->

        <div id="particles">
            <div id="jumbotron-particles" class="container container-fluid ml-5 text-light">
                <h1 class="display-4"> LOGIC BOTS </h1>
                <p class="lead"> 
                    Multiplayer programming game
                </p>
                <% if( typeof name === 'undefined') { %>
                    <a class="btn btn-outline-primary btn-lg rounded-0" href="/register"> 
                        PLAY NOW 
                    </a>
                <% } %>
            </div>
        </div>

        <% const cards = [ {image: './img/real_time_multiplayer.png',
                            header: 'REAL TIME MULTIPLAYER',
                            description: `Game allows multiple players to connect together in a single game session. 
                            You can spectate your robot fight againts other players robots in real time.`},
            
                           {image: './img/code_fp2.PNG',
                           header: 'SCRIPTING AS GAMEPLAY',
                           description: `Code behavior of your bots by writing real JavaScript. Game is not designed to teach programming from scratch. 
                                         However, it can be used as a platform to sharpen your skills, explore algorithms and AI programming.`},
                        
                           {image: './img/rank.png',
                           header: 'LEADERBOARDS',
                           description: `Compete againts other players for the top spots in the leaderboards. Show-off the strongest robot you have managed to create
                                         to your friends and other people around the world.`}]; %>   

        <!-- Description cards -->
        <div class="card rounded-0 bg-dark text-light border-0">
            <div class="card-body">
                <% for(let i = 0; i < cards.length; i++) { %>
                    <div class="row mx-auto mb-3" style="width: 55%">

                        <% if(i % 2 !== 0) { %>
                            <div class="col-lg-6"> 
                                <!-- Image here. -->
                                <img src="<%= cards[i].image %>" class="img-responsive shader">
                            </div>
                        <% } %>

                        <div class="card rounded-0 bg-dark border-0 col-lg-6">
                            <div class="card-body">
                                <h3 class="text-warning bg-back"> <%= cards[i].header %> </h3>
                                <p class="text-justify"> <%= cards[i].description %> </p>
                            </div>
                        </div>

                        <% if(i % 2 === 0) { %>
                            <div class="col-lg-6"> 
                                <!-- Image here. -->
                                <img src="<%= cards[i].image %>" class="img-responsive shader"> 
                            </div>
                        <% } %>
                    </div>
                <% } %> 
            </div>
        </div>

        <script>
        particleground(document.getElementById('particles'), {
            dotColor: '#66bb6a',
            lineColor: '#66bb6a'
        });
        </script>
        
        <% include partials/footer %>
        <% include partials/bootstrapjs %>
   </body>
</html>