<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% include partials/styles %>
    <title>Sign in</title>
  </head>
  <body>
    <% include partials/navbar %> 

    <%  if(typeof success != 'undefined'){ //check if login attempt or simple page load
          if(!success){ %>
            <div class="alert alert-danger" role="alert">
              <strong>Oh snap!</strong> Please check your password or user name and try again.
            </div>
    <%      }  
        } %>

    <div class="container">
      <form class="center" style="max-width:400px; margin:auto" method="POST">
        <h2>Sign in to your account</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input id="inputUsername" type="text" class="form-control my-2" placeholder="Username" name="username" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button  class="btn btn-primary btn-block w-25 " type="submit">Sign in</button>
        <a class="float-left" href="register.ejs">Register new account</a> 
        <a class="float-right" href="recovery.ejs">Forgot your password?</a>
      </form>
    </div>

    <% include partials/bootstrapjs %> 
   </body>
</html>