<html lang="en">
    <head>
      <% include partials/styles %>
      <title>Recover</title>
    </head>

      <body>
        <% include partials/navbar %> 
    
        <div class="container">
          <form class="center" style="max-width:400px; margin:auto" method="POST">
            <h2>Account recovery</h2>
            <label class"sr-only">Enter the username you use for playing</label>
            <label for="inputUsername" class="sr-only">Username</label>
            <input id="inputUsername" type="text" class="form-control my-2" placeholder="Username" name="username" required>
            <div class="checkbox">
            </div>
            <button  class="btn btn-primary btn-block w-25 " type="submit">Recover</button>
          </form>
        </div>
    
        <% include partials/bootstrapjs %> 
       </body>
</html>