/* Split view styles */

.gutter {
  background-color: #1976d2;
  background-repeat: no-repeat;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

/* Custom colors */
/* Blue colors set */
.bg-light-blue{
  background-color: #63a4ff;
}

.bg-medium-blue{
  background-color: #1976d2;
}

.bg-dark-blue{
  background-color: #004ba0;
}

/* Gray */

.bg-dark-gray{
  background-color: #272824;
}
/* --------------- */

/* Selectable cards are used for generating lists. */


.selectable-card{
  border-radius: 0;
}

.selectable-card:hover{
  border-color:deeppink;
  cursor: pointer;
}

.bars{
  color: white;
  transition: ease-in-out 0.2s;
}

.bars:hover{
  color: #004ba0;
}

.center{
  max-width: 400px;
  margin: auto;
}

.login-style{
  transition: box-shadow .3s;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.58);
}

.login-style:hover{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.58);
}

.shader{
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.58);
}

/* Rules for sidebar buttons. */

.sidebar > button {
  background-color: #1976d2;

}

.sidebar-button:hover{
  border-left: 3px solid #f44336;
}

/* -------------------------- */

/* Sidebar wrapper */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

@media all and (max-width: 4000px) and (min-width: 768px) {
  .sidebar {
   margin-top: 64px;
  }
}

@media all and (max-width: 768px) {
  .sidebar {
    margin-top: 56px;
  }
}

/* Sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Sidebar link hover */
.sidebar a:hover {
  color: #f1f1f1;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}