<!doctype html>
<html lang="en"  style="width: 100%; height: 100%">
  <head>
    <meta charset="utf-8">
    <% include ../partials/styles %>
    <title>Sign in</title>
  </head>
  <body style="width: 100%; height: 80%;" class="bg-primary">
    <% include ../partials/navbar %> 

    <% if(typeof success != 'undefined'){ //check if login attempt or simple page load %>
        <% if(!success){ %>
          <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please check your password or user name and try again.
          </div>
    <%  } %>  
    <% }  %>

    <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
          <div class="col-6 mx-auto">
              <div class="card text-dark bg-light login-style" style="min-width: 23rem; max-width: 30rem;">
                <div class="card-header">
                  <h2 class="text-center"> LOGIN </h2>
                </div>
                <div class="card-body">
                  <form class="center" style="margin:auto" method="POST">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input id="inputUsername" type="text" class="form-control my-2" placeholder="Username" name="username" required>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                    <button class="btn btn-primary btn-block w-100 mt-3 mb-1" type="submit"> Sign in </button>
                    <a class="float-left" href="register">Register new account</a> 
                    <a class="float-right" href="recovery">Forgot your password?</a>
                  </form>
                </div>
              </div>
          </div>
      </div>
    </div>

    <% include ../partials/bootstrapjs %> 
   </body>
</html>