<!doctype html>
<html class="full-width full-height" lang="en">
  <head>
    <title>Sign in</title>
    <% include ../partials/styles %>
  </head>
  <body style="height: 80%;" class="bg-medium-blue full-width">
    <% include ../partials/navbar %> 

    <% if(typeof errorMsg !== 'undefined'){ %>
          <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> <%= errorMsg %>
          </div>
    <% } %>

    <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
          <div class="col-6 mx-auto">
              <div class="card text-dark bg-light login-style rounded-0" style="min-width: 23rem; max-width: 30rem;">
                <div class="card-header">
                  <h4 class="text-center"> LOGIN </h4>
                </div>
                <div class="card-body">
                  <form class="center" style="margin:auto" method="POST" autocomplete="off">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input id="inputUsername" type="text" class="form-control my-2 rounded-0" placeholder="Username" name="username" required>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control rounded-0" placeholder="Password" name="password" required>
                    <button class="btn btn-primary btn-block w-100 mt-3 mb-1 rounded-0" type="submit"> Sign in </button>
                    <a class="float-left" href="register">Register new account</a> 
                    <a class="float-right" href="recovery">Forgot your password?</a>
                  </form>
                </div>
              </div>
          </div>
      </div>
    </div>

    <% include ../partials/bootstrapjs %> 
   </body>
</html>