<html lang="en">
    <head>
      <% include ../partials/styles %>
      <title> Accoutn recovery </title>
    </head>

      <body>
        <% include ../partials/navbar %> 
    
        <div class="container">
          <form class="center" style="max-width:400px; margin:auto" method="POST">
            <h2> Account recovery </h2>
            <label class"sr-only"> Please enter your email address to recover your account </label>
            <label for="inputEmail" class="sr-only"> Email </label>
            <input id="inputEmail" type="text" class="form-control my-2" placeholder="Email" name="email" required>
            <div class="checkbox">
            </div>
            <button  class="btn btn-primary btn-block w-25 " type="submit"> Recover </button>
          </form>
        </div>
    
        <% include ../partials/bootstrapjs %> 
       </body>
</html>