<html lang="en">
    <head>
      <% include ../partials/styles %>
      <title> Account recovery </title>
    </head>
      <body class="bg-medium-blue" style="height: 80%">
        <% include ../partials/navbar %> 
    <% if(typeof success != 'undefined'){ %>
        <% if(success){ %>
            <div class="alert alert-success" role="alert"> 
                <strong> Well done! </strong> An e-mail has been sent to you with further instructions.
            </div>
    <% } else if(success != undefined){ %>
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> User with this email adress doesn't exist
        </div>
    <% } }%>

        <div class="container d-flex h-100">
            <div class="row align-self-center w-100">
                <div class="col-6 mx-auto">
                    <div class="card text-dark bg-light login-style rounded-0" style="min-width: 23rem; max-width: 30rem;">
                      <div class="card-header">
                        <h4 class="text-center"> RESTORE PASSWORD </h4>
                      </div>
                      <div class="card-body">
                        <form class="center" style="margin:auto" method="POST" autocomplete="off">
                          <label for="inputEmail" class="sr-only"> Email </label>
                          <input id="inputEmail" type="text" class="form-control my-2 rounded-0" placeholder="example@gmail.com" name="email" required>
                          <button class="btn btn-primary btn-block w-100 mt-3 mb-1 rounded-0" type="submit"> Recover </button>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    
        <% include ../partials/bootstrapjs %> 
       </body>
</html>