<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%">
    <head>
        <% include ../partials/styles %>
        <title> Register new account </title>
    </head>

    <body style="width: 100%; height: 80%;" class="bg-light-gray" onload="document.getElementById('registration').reset()">
    <% include ../partials/navbar %> 

    <% if(typeof errorMsg !== 'undefined'){ %>
        <div class="alert alert-danger" role="alert">
            <strong> Oh snap! </strong> <%= errorMsg %>
        </div>
    <% } else if(typeof success !== 'undefined') { %>
        <div class="alert alert-success" role="alert"> 
            <strong> Well done! </strong> Registration was successful!
        </div>
    <% } %>

    <div class="container d-flex h-100">
            <div class="row align-self-center w-100">
                <div class="col-8 mx-auto">
                    <div class="card text-dark bg-light login-style rounded-0" style="min-width: 25rem; max-width: 40rem;">
                      <div class="card-header">
                        <h2 class="text-center"> REGISTER </h2>
                      </div>
                      <div class="card-body">
                            <form class="container" method="POST" id="registration" autocomplete="off" >
                                <div class="form-group row mt-2 ml-1">
                                    <input type="text" placeholder="Username" id="inputUsername" name="username" class="form-control mr-4 rounded-0" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <input type="email" placeholder="example@gmail.com" id="inputEmail" name="email" class="form-control mr-4 rounded-0" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <input type="password" placeholder="Password" id="inputPassword" name="password" class="form-control mr-4 rounded-0" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <input type="password" placeholder="Confirm password" id="inputPassword1" name="confirmPassword" class="form-control mr-4 rounded-0" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <button class="btn btn-primary form-control mr-4 ml-8 rounded-0" type="submit"> Register </button>
                                </div>
                                <a href="/login"> 
                                    <p class="text-center"> Already have an account? </p> 
                                </a>
                            </form>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    <% include ../partials/bootstrapjs %> 
</body>
</html>