<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%">
    <head>
        <% include ../partials/styles %>
        <title> Register new account </title>
    </head>

    <body style="width: 100%; height: 80%;" class="bg-primary" onload="document.getElementById('registration').reset()">
    <% include ../partials/navbar %> 

    <% if(typeof success != 'undefined'){ %>
        <% if(success){ %>
            <div class="alert alert-success" role="alert"> 
                <strong> Well done! </strong> Registration was successful!
            </div>
    <% } else if(success != undefined){ %>
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Please check your password and try again.
        </div>
    <% } }%>
    <% if(typeof usernameTaken != 'undefined'){ %> 
        <% if(usernameTaken){ %>
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> This user name is already taken.
        </div>
        <% } %>
    <% } %>
    <% if(typeof emailTaken != 'undefined'){ // If email is taken render this alert %>
    <% if(emailTaken){ %>
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> This email adress is already taken.
        </div>
        <% } %>
    <% } %>

    <div class="container d-flex h-100">
            <div class="row align-self-center w-100">
                <div class="col-8 mx-auto">
                    <div class="card text-dark bg-light login-style" style="min-width: 25rem; max-width: 40rem;">
                      <div class="card-header">
                        <h2 class="text-center"> REGISTER </h2>
                      </div>
                      <div class="card-body">
                            <form class="container" method="POST" id="registration" >
                                <div class="form-group row mt-2 ml-1">
                                    <input type="text" placeholder="Username" id="inputUsername" name="username" class="form-control mr-4" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <input type="email" placeholder="example@gmail.com" id="inputEmail" name="email" class="form-control mr-4" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <input type="password" placeholder="Password" id="inputPassword" name="password" class="form-control mr-4" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <input type="password" placeholder="Confirm password" id="inputPassword1" name="confirmPassword" class="form-control mr-4" required>
                                </div>
                                <div class="form-group row mt-2 ml-1">
                                    <button class="btn btn-primary form-control mr-4 ml-8" type="submit"> Register </button>
                                </div>
                            </form>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    <% include ../partials/bootstrapjs %> 
</body>
</html>