<html lang="en">
    <head>
      <% include ../partials/styles %>
      <title> Account recovery </title>
    </head>
      <body class="bg-primary" style="height: 80%">
        <% include ../partials/navbar %> 
    
    <% if(typeof success != 'undefined'){ %>
    <%   if(success != undefined){ %>
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Passwords don't match or are too short!
        </div>
    <% } }%>


        <div class="container d-flex h-100">
            <div class="row align-self-center w-100">
                <div class="col-6 mx-auto">
                    <div class="card text-dark bg-light login-style" style="min-width: 23rem; max-width: 30rem;">
                      <div class="card-header">
                        <h2 class="text-center"> TYPE IN YOU NEW PASSWORD </h2>
                      </div>
                      <div class="card-body">
                        <form class="center" style="margin:auto" method="POST">
                          <label for="password" class="sr-only"> Password </label>
                          <input id="password" type="password" class="form-control my-2" placeholder="Password" name="password" required>
                          <label for="pwConfirm" class="sr-only"> Confirm password </label>
                          <input id="pwConfirm" type="password" class="form-control my-2" placeholder="Confirm password" name="passwordConfirm" required>
                          <button class="btn btn-primary btn-block w-100 mt-3 mb-1" type="submit"> Recover </button>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    
        <% include ../partials/bootstrapjs %> 
       </body>
</html>