<!doctype html>
<html lang="en">

<head>
    <% include ../partials/styles %>
        <% include ../partials/navbar %>
            <% include ../partials/bootstrapjs %>
</head>

<body>

</body>

</html>