<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/styles %>
    <title> Dashboard </title>
  </head>
  <body class="bg-medium-blue">
    <% include ../partials/navbar %> 
    <% include ../partials/bootstrapjs %>
    <% include ../partials/sidebar %>

    <!-- ONLY THIS WRAPPER WILL BE PUSHED BY SIDEBAR -->
    <div id="main">
      <!-- Hamburger -->
      <span class="navbar-toggler bars" style="font-size:30px; cursor:pointer;" onclick="toggleSidebar()">
        <i class="fa fa-bars"></i>
      </span>

      <!-- All content will be rendered in this div -->
      <div id="content">
          <% if(typeof errorMsg !== 'undefined') { %>
              <div class="alert alert-danger mx-auto mt-3 w-75" role="alert">
                  <strong>Oh snap!</strong> <%= errorMsg %>
              </div>
          <% } %>
          <% if(typeof message !== 'undefined') { %>
              <div class="alert alert-success mx-auto mt-3 w-75" role="alert">
                  <strong>Well done!</strong> <%= message %>
              </div>
          <% } %>
          <%- include('../user/' + pageID)  %>
      </div>
    </div>

    <script>
      // Setting previous state.
      switch(localStorage.getItem("sidebarState")){
        case 'open':
            openSidebar();
            break;
        case 'closed' || null:
            closeSidebar();
            break;
      }

      // Toggling current state.
      function toggleSidebar(){
        if(document.getElementById("sidebarID").style.width == "0px")
          openSidebar();
        else
          closeSidebar();
      }

      function openSidebar(){
        document.getElementById("sidebarID").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        localStorage.setItem("sidebarState", "open");
      }

      function closeSidebar(){
        document.getElementById("sidebarID").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        localStorage.setItem("sidebarState", "closed");
      }
      
    </script>
   </body>
</html>